defmodule Day<%= day %> do
  defmodule Part1 do
    @moduledoc """
    """

    def solve(input) do
      input
    end
  end

  defmodule Part2 do
    @moduledoc """
    """

    def solve(input) do
      input
    end
  end
end
